<section class="container content">
    <div class="row">
        <div class="col-lg-10 offset-lg-1  col-md-12 offset-md-0">
            <h1 class="title">URL Shorter</h1>
            <label>   
                <input type="text" placeholder="Place your URL here" class="mb-4 mt-4 form-control input" [(ngModel)]=url>
                <div class="error">{{urlError}}</div>
            </label>   
        </div>
        <div class="col-lg-8 offset-lg-1  col-md-8 offset-md-0">
            <label>
                <div class="d-flex align-items-center">   
                    <div>localhost:8000/</div>
                    <input type="text" placeholder="Place short URL here" class="mb-4 mt-4 form-control input" [(ngModel)]=shortUrl>
                </div>
                <div class="error">{{shortUrlError}}</div>
            </label>
        </div>
        <div class="col-lg-2  col-md-2">
            <div class="mb-4 mt-4 button" style="width: auto;" (click)="createUrl()"><div>Create URL</div><img src="../../assets/img/arrow.svg" alt=""></div>
        </div>
    </div>
</section>
